/* .swiper-button-disabled {

    display: none !important;
} */
.swiperSlide_button_group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #3fedb3;
}
.swiper_button {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #ebebeb;
    color: #28af62;
    font-size: 16px;
    transition: 0.3s;
    cursor: pointer;
    
    
  }
 .swiper_button_next {
   
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #ebebeb;
    color: #41be41;
    padding: 30px;
    transition: 0.3s;
    cursor: pointer;
}

.swiper_button_prev{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #ebebeb;
    color: #060908;
    padding: 30px;
    transition: 0.3s;
    cursor: pointer;
    
}